.container{
    text-align: center;
}

#txt-input{
    margin: auto;
    padding: 1rem;
    width: 80%;
    height: 10vh;
    display: block;
}

#output{
    border: 1px solid;
    margin: auto;
    padding: 1rem;
    width: 80%;
    height: 10vh;
    display: block;
}